@if (movie$ | async; as movie) {
  <div id="title">
    <h1>{{ movie.Title }}</h1>
  </div>
  <div id="main-movie-details">
    <div id="movie-details">
      <div id="details">
        <img [src]="movie.Poster" alt="{{ movie.Title }}">
        <div id="text-details">
          <p>{{ movie.Plot }}</p>
          <p><strong>Language:</strong> {{ movie.Language }}</p>
          <p><strong>Genres:</strong> {{ movie.Genre }}</p>
          <p><strong>Premiered:</strong> {{ movie.Released }}</p>
        </div>
      </div>

      @if (movie.Actors) {
        <ul id="actors">
          <h2>Cast</h2>
          @for (actor of movie.Actors.split(', ');track actor) {
            <li>{{ actor }}</li>
          }
        </ul>
      }
    </div>
    @if (movie.Type==='series') {
      <app-seasons></app-seasons>
    }
  </div>
}
