<div id="searchBar">
  <div>
    <div>
      <input
        type="text"
        placeholder="Find a movie by title..."
        #search (input)="onChange(search.value)"
      >
      <button>Search</button>
      <ul>
        @for (movie of movies$ | async; track movie) {
          <li class="movies">
            <a [routerLink]="['/movie-detail', movie.imdbID]">
              <img [src]="movie.Poster" alt="{{ movie.Title }}" />
              <div>
                <h3>{{ movie.Title }}</h3>
                <p>{{ movie.Plot }}</p>
                <p><i>{{ movie.Genre }}</i></p>
              </div>
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
