input {
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  width: 75%;
  border: 2px solid #e7a955
}
button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: 2px solid #e7a955;
  background-color: #e7a955;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #cf8c3d;
}

#searchBar {
  display: flex;
  justify-content: center;
}
#searchBar div{
  width: 100%;
}
.movies a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 6px gray;
  border: 2px solid #e7a955;
}
li{
  list-style-type: none;
  margin: 1rem;

}
.movies div{
  width: 70%;
  height: 100%;
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
}
.movies img {
  width: 15%;
  height: auto;
}
